<mat-card>
    <h4 class="text-center">add new category</h4>
     
    <mat-card-content>
       <div class="boostrap-wrapper">
        <div class="row">
            <div class="col-md-10 offset-md-2">
                <form action="" (ngSubmit)="forSubmit()">
                    <mat-form-field class="w100" appearance="outline">
                    <mat-label>Title</mat-label>
                    <input type="text" 
                    name="title" matInput 
                    placeholder="Enter here"
                    [(ngModel)]="category.title"
                    >
                    </mat-form-field>
                      
                    <!-- add description -->
                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea 
                        autofocus
                        type="text" name="description" 
                        matInput placeholder="Enter category 
                        description" 
                        rows="10"
                        [(ngModel)]="category.description"
                        >
                        </textarea>
                        </mat-form-field>

                         <div class="container text-center mt15">
                            <button  mat-raised-button color="accent">Add</button>
                         </div>


                  </form>
            </div>
        </div>

       </div>
    </mat-card-content>
</mat-card>